<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Добавьте ссылку на Milligram CSS-фреймворк -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <!-- Добавьте свой собственный файл CSS для кастомизации -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="parallax"></div>
    <div class="container">
        <h1 class="title">Admin Panel login</h1>
        <form action="/administrator/login" method="post" class="form">
            <div class="input-group">
                <label for="username" class="input-label">Login:</label>
                <input type="text" name="username" id="username" required class="input">
            </div>
            <div class="input-group">
                <label for="password" class="input-label">Password:</label>
                <input type="password" name="password" id="password" required class="input">
            </div>
            <button type="submit" class="button">Enter</button>
        </form>
    </div>
</body>
</html>
